body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.container {
    position: relative;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    background: #fdf8f8;
    border: 1px solid black;
}

.centered {
    text-align: center;
}

/* button styling*/
button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #d3d3d3; /* grey background */
    color: black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s ease;
}

button:hover {
    background-color: rgb(102, 124, 219); /* light blue on hover */
}

button:active {
    transform: scale(0.95); /* bounce effect */
}

/*styles for close and update */
.btn-small {
    padding: 2px 7px;
    margin: 0;
}

/* form layout and styling */
.journal-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.journal-form label,
.journal-form input,
.journal-form textarea,
.journal-form button {
    width: 100%;
    margin-top: 10px;
}

.journal-form input,
.journal-form button {
    height: 40px;
    padding: 0 10px;
}

.journal-form textarea {
    height: 200px;
    padding: 10px;
}

/* label, input and update button */
.input-group {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.input-group label {
    margin-right: 10px;
    white-space: nowrap;
}

.input-group input {
    flex-grow: 1;
    margin-right: 5px;
}

/* position the close button */
.close-button-container {
    position: absolute;
    top: 10px;
    right: 10px;
}

/*form button styling*/
.journal-form button {
    background-color: rgb(18, 61, 255); 
    color: white;
    border: none;
    transition: background-color 0.3s, transform 0.3s ease;
    cursor: pointer;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 8px;
}

.journal-form button:hover {
    background-color: #d3d3d3; 
}

