body {
  font-family: Arial, sans-serif;
  background-color: white;
  margin: 0;
}

.wrapper {
  max-width: 1100px;
  margin: 15px auto;
}

.container-calendar {
  background: #ffffff;
  padding: 15px;
  max-width: 900px;
  margin: 0 auto;
  overflow: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
}

.journal-section {
  padding: 10px;
  background: #f5f5f5;
  margin: 20px 0;
  border: 1px solid #ccc;
  width: 500px;
  justify-content: start;
  align-items: center;
}
/*Styles the Emojies here for the mood tracker*/

.mood-tracker {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  justify-content: right;
  margin-left: 150px;
  margin-top: -30px;
}

.journal-section h4 {
  color: rgb(0, 23, 128);
  font-size: 18px;
  margin: 0 5px 0 0;
}

.journal-section button.emoji {
  font-size: 18px;
  background-color: #f5f5f5;
  opacity: 1;
  transition: opacity 0.3s ease;
  margin-right: 5px;
  vertical-align: middle;
}

.container-calendar #left h1 {
  color: rgb(0, 23, 128);
  text-align: center;
  margin: 0;
}

.journal-section h3 {
  color: rgb(0, 23, 128);
  font-size: 18px;
  margin: 0;
}

.journal-section input[type="date"],
.journal-section input[type="text"] {
  margin: 10px 0;
  padding: 5px;
  width: 80%;
}

.journal-section button {
  background: rgb(0, 23, 128);
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.journal-marker {
  position: relative;
}

.journal-marker::after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background-color: rgb(0, 23, 128);
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.journal-tooltip {
  position: absolute;
  background-color: rgba(234, 232, 232, 0.763);
  color: black;
  padding: 10px;
  border-radius: 4px;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  transition: all 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.journal-marker:hover .journal-tooltip {
  display: block;
}

#journal-section {
  padding: 10px;
  background: #f5f5f5;
  margin: 20px 0;
  border: 1px solid #ccc;
}

#journal-section h3 {
  color: rgb(0, 23, 128);
  text-align: center;
  font-size: 18px;
  margin: 0;
}

#journalList {
  list-style: none;
  padding: 0;
}

#journalList li {
  margin: 5px 0;
  font-size: 16px;
}

.delete-journal {
  background: rgb(0, 23, 128);
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
  align-items: right;
}

.button-container-calendar button {
  cursor: pointer;
  color: black;
  border-radius: 4px;
  padding: 5px 10px;
}

.table-calendar {
  border-collapse: collapse;
  width: 100%;
}

.table-calendar td,
.table-calendar th {
  padding: 5px;
  border: 1px solid #e2e2e2;
  text-align: center;
  vertical-align: top;
}

.date-picker.selected {
  background-color: #f2f2f2;
  font-weight: bold;
  outline: 1px dashed rgb(0, 23, 128);
}

.date-picker.selected span {
  border-bottom: 2px solid currentColor;
}

.date-picker:hover {
  background-color: rgb(0, 23, 128);
  color: white;
  cursor: pointer;
}

#monthAndYear {
  text-align: center;
  margin-top: 0;
}

.button-container-calendar {
  position: relative;
  margin-bottom: 1em;
  overflow: hidden;
  clear: both;
}

#previous {
  float: left;
}

#next {
  float: right;
}

.footer-container-calendar {
  margin-top: 1em;
  border-top: 1px solid #dadada;
  padding: 10px 0;
}

.footer-container-calendar select {
  cursor: pointer;
  background: #ffffff;
  color: #585858;
  border: 1px solid #bfc5c5;
  border-radius: 3px;
  padding: 5px 1em;
}

#create,
#view-journals,
#view-tasks {
  margin-right: 10px;
}

#confirmBox {
  position: fixed;
  background: white;
  width: 300px;
  padding: 20px;
  border: 2px solid #ccc;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  z-index: 1001;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

#searchInput {
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 4px 0 0 4px;
  flex: 1;
}

#searchButton {
  font-size: 16px;
  border: 1px solid #ccc;
  border-left: none;
  color: white;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

#searchButton:hover {
  background-color: #0056b3;
}
