/* Default Styles for the overall body of any page */
body {
  font-family: Arial, sans-serif;
  background-color: white;
  margin: 0;
}

/* Default styles for the wrapper class of the application */
.wrapper {
  max-width: 1100px;
  margin: 15px auto;
}
/* Styles for the calendar section of the application */
.container-calendar {
  background: #ffffff;
  padding: 15px;
  max-width: 900px;
  margin: 0 auto;
  overflow: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}
/* Styles for the journal section of the application */
.journal-section {
  padding: 10px;
  background: #f5f5f5;
  margin: 20px auto;
  border: 1px solid #ccc;
  width: 500px;
  @media (max-width: 768px) {
    width: unset;
  }
}
/* Styles for the title header of the calendar section of the application */
.container-calendar #left h1 {
  color: rgb(0, 23, 128);
  text-align: center;
  margin: 0;
}
/* Styles for the subheaders of the journal section */
.journal-section h3 {
  color: rgb(0, 23, 128);
  font-size: 18px;
  margin: 0;
}
/* Styles for the input sections in the journal parts of the application */
.journal-section input[type="date"],
.journal-section input[type="text"],
.journal-section textarea {
  margin: 10px 0;
  padding: 5px;
  width: 100%;
  max-width: 400px;
}
/* Styles for the buttons in the journal section of the application */
.journal-section button {
  background: rgba(234, 232, 232, 0.763);
  color: black;
  border: 1px solid black;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 10px;
  display: inline-block;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
/* Styles for the journal marker in the application */
.journal-marker {
  position: relative;
}
/* Styles for the journal section of the code when in the after state */
.journal-marker::after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background-color: rgb(0, 23, 128);
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
}
/* Styles for the tool tip of the journal section */
.journal-tooltip {
  position: absolute;
  background-color: rgba(234, 232, 232, 0.763);
  color: black;
  padding: 10px;
  border-radius: 4px;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  transition: all 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Styles when the journal marker is hovered over */
.journal-marker:hover .journal-tooltip {
  display: block;
}

/* Styles for the jounral section overall */
#journal-section {
  padding: 10px;
  background: #f5f5f5;
  margin: 20px 0;
  border: 1px solid #ccc;
  align-items: center;
  max-width: 600px;
}

/* Default Styles for the form sections of the page */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

/* Default styles for all parts in the form section */
form > * {
  width: 80%;
  max-width: 500px;
}

/* Styles for the subheaders in the journal section of the application */
#journal-section h3 {
  color: rgb(0, 23, 128);
  text-align: center;
  font-size: 18px;
  margin: 0;
}

/* Styles for the list of items in the journal section of the application */
#journalList {
  list-style: none;
  padding: 0;
}

/* Styles for each item in the list of journals in the journal section of the application */
#journalList li {
  margin: 5px 0;
  font-size: 16px;
}

/* Styles when the user wants to delete a jorunal in the journal section of the application */
.delete-journal,
.delete-task {
  background: #5958588b;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
  align-items: right;
}

/* Styles for the buttons in the calendar part of the application */
.button-container-calendar button {
  cursor: pointer;
  color: black;
  border-radius: 4px;
  padding: 5px 10px;
}

/* Styles for the calendar as a table in the application */
.table-calendar {
  border-collapse: collapse;
  width: 100%;
}

/* Styles for each item in the calendar table of the application */
.table-calendar td,
.table-calendar th {
  padding: 5px;
  border: 1px solid #e2e2e2;
  text-align: center;
  vertical-align: top;
}

/* Styles for the date picker in the calendar section of the application */
.date-picker.selected {
  background-color: #f2f2f2;
  font-weight: bold;
  outline: 1px dashed rgb(0, 23, 128);
}

/* Styles for the selected span of the date picker in the application */
.date-picker.selected span {
  border-bottom: 2px solid currentColor;
}

/* Styles for the date picker when it is being hoverd over */
.date-picker:hover,
button:hover {
  background-color: rgb(0, 23, 128);
  color: white;
  cursor: pointer;
}

/* Styles for the month and year section of the calendar section of the application */
#monthAndYear {
  text-align: center;
  margin-top: 0;
}

/* Default Styles for the buttons in the calendar section of the application */
.button-container-calendar {
  position: relative;
  margin-bottom: 1em;
  overflow: hidden;
  clear: both;
}

/* Styles for when the user wants to go to the previous date */
#previous {
  float: left;
}

/* Styles for when the user wants to go to the next date */
#next {
  float: right;
}

/* Styles for the footer of the calendar section of the application */
.footer-container-calendar {
  margin-top: 1em;
  border-top: 1px solid #dadada;
  padding: 10px 0;
}

/* Styles when the user is selecting an item in the footer of the calendar section of the application */
.footer-container-calendar select {
  cursor: pointer;
  background: #ffffff;
  color: #585858;
  border: 1px solid #bfc5c5;
  border-radius: 3px;
  padding: 5px 1em;
}

/* Styles for the create, view journal and view tasks buttons on the main page of the application */
#create,
#view-journals,
#view-tasks {
  margin-right: 10px;
}

/* Styles for the confirm box on the main page of the application */
#confirmBox {
  position: fixed;
  background: white;
  width: 300px;
  padding: 20px;
  border: 2px solid #ccc;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  z-index: 1001;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Styles for the delete journal and delete task button in the application */
.delete-journal:hover,
.delete-task:hover,
#close:hover {
  background: #771010;
}

/* Styles for when a button to create a task or journal or a general button is clicked */
button.clicked,
button#journal.clicked,
button#task.clicked {
  background-color: rgb(0, 23, 128);
  color: white;
}

/* #saveJournal {
  margin-top: 10px;
  margin-bottom: 30px;
}

#addTask {
  margin-top: -10px;
  margin-bottom: 30px;
} */

/* Styles for the search bar section in the application */
.search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

/* Styles for the search bar input in the application */
#searchInput {
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 4px 0 0 4px;
  flex: 1;
}

/* Styles for the search button in the application */
#searchButton {
  font-size: 16px;
  border: 1px solid #ccc;
  border-left: none;
  color: white;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styles for the search button when it is being hoverd over */
#searchButton:hover {
  background-color: #0056b3;
}
