@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
/* styles for body, mainly for thanks.html */
body {
  text-align: center;
  font-family: "Indie Flower";
  background-color: #faf0e6;
}
/* style for "share your experience" */
header h1 {
  color: #333;
  font-family: "Indie Flower";
}
/* styles for button and submit button */
button,
.submit-button {
  font-family: "Indie Flower";
  background-color: #faf0e6;
  border: 2px solid #ddd;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 18px;
  margin: 10px;
  cursor: pointer;
  transition: all 0.2s ease;
  text-align: center;
  text-decoration: none; /* Remove underline from link */
  display: inline-block; /* submit link looks like button */
}
/* styles for borders of buttons and submit buttons */
button:hover,
.submit-button:hover {
  border-color: #c5ebc6;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  background-color: blanchedalmond;
}
/* styles when we put mouse on the button, border color will change */
button:focus,
.submit-button:focus {
  border-color: #9be1a8;
}
/* when we clicked the button, the button will enlarge */
button:active,
.submit-button:active {
  transform: scale(1.2);
}
/* the image for button styles centered */
button img {
  vertical-align: middle;
}
/* color for submit button */
.submit-button {
  color: #333;
}
/* background color for "verysad" button */
.verySad {
  background-color: rgb(255, 232, 232);
}
/* background color when hovered */
.verySad:hover {
  background-color: #f9d4cc;
}

/*background color for "sad" button*/
.sad {
  background-color: #ffe5cb;
}
/*background color when hovered*/
.sad:hover {
  background-color: #facaa0;
}
/*background color for "neutral" button*/
.netural {
  background-color: #fffede;
}
/* background color when hovered */
.netural:hover {
  background-color: #faf8be;
}
/* background color for "happy" button */
.happy {
  background-color: #f9ffde;
}
/* background color when hovered */
.happy:hover {
  background-color: #e7f4af;
}
/* background color for "veryhappy" button */
.veryHappy {
  background-color: #e4ffde;
}
/* background color when hovered */
.veryHappy:hover {
  background-color: #bef5b2;
}
